@model IEnumerable<HmProject.Models.Entities.Students>

@{
    ViewData["Title"] = "Index";
}

<h1>Students list</h1>
<style>
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    }
</style>
<div>
    @Html.ActionLink("Create", "Create")
</div>
@ViewBag.Test
<table>
    <thead>
        <th>@Html.DisplayNameFor(model => model.StudentID)</th>
        <th>@Html.DisplayNameFor(model => model.StudentName)</th>
        <th>@Html.DisplayNameFor(model => model.Discription)</th>
        <th>@Html.DisplayNameFor(model => model.DateOfBirth)</th>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modle => item.StudentID)
                </td>
                <td>
                    @Html.DisplayFor(modle => item.StudentName)
                </td>
                <td>
                    @Html.DisplayFor(modle => item.Discription)
                </td>
                <td>
                    @Html.DisplayFor(modle => item.DateOfBirth)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Update", new { cityId = item.StudentID }) |
                    @Html.ActionLink("Delete", "Delete", new { cityId = item.StudentID })
                </td>
            </tr>
        }
    </tbody>
</table>
